In [6]:
import pandas as pd
data = [10, 20, 30 , 40]
s = pd.series(data)
print(s)

AttributeError: module 'pandas' has no attribute 'series'

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

why we use pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [7]:
import pandas
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [8]:
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [9]:
import pandas as pd

print(pd.__version__)

2.0.3

A pandas Series is like a column in a table It is a one_dimentional array holding data of any type.

In [10]:
import pandas as pd
a = [1,2,3,4,5]
myvar = pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
# if nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
#this label can used to access a specified value

print(myvar[0])

1

In [14]:
#create labeles
import pandas as pd
a =[1,3,4]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)
print(myvar["x"])

x    1
y    3
z    4
dtype: int64
1

In [15]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [17]:
#-------------------- Data frames-----------------------
import pandas as pd
data = {
    "calories":[420, 380, 390],
    "duration": [50, 40, 12]
}

myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        12

In [18]:
#-----the main difference between series are 1d and one type of dataset could be store in it and dataframe is 2d and multiple types of datatypes could be stored in it
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [20]:
print(df.loc[0])
print(df.loc[[0,1]])

calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40

In [21]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
# import pandas as pd

# df = pd.read_csv('data.csv')

# print(df)
# use it to read form a file
"""
import pandas as pd

df = pd.read_csv('data.csv')

print(df)


import pandas as pd

print(pd.options.display.max_rows)

import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())




import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))


print(df.tail())

to print the last 5 rows

to dro=op the rows


import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

to find the means

import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)"""